.nav-item{
   cursor: pointer; 
}
body{
   background-color: #f4f6f9;
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
aside{
   background: linear-gradient(rgb(57, 59, 63) 5%,rgb(76, 79, 88)) 92%;
}