.form{
   position: relative;
   left:30%;
}
.card{
    // background-color: rgb(185, 193, 190);
    background: linear-gradient(rgb(180, 183, 194) 5%, rgb(183, 194, 239) 92%);
}
.body{
    background-color: #f4f6f9;
    font-family: sans-serif;
    overflow-x: hidden;
}
aside{
    background: linear-gradient(rgb(57, 59, 63) 5%,rgb(76, 79, 88)) 92%;
}